{% load static %}

    {% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!--  <style>
        body{
            background-image: linear-gradient(to right, turquoise , midnightblue);
            color: white;
            text-align:center
        }
        a:hover {
            text-decoration: none;
            background-color: rgba(255,255,255,0.5);
            color: peru;
        }
        a{
            color: white;
        }
        h1 {
            padding: 40px;
        }
        input {
            margin: 5px;
        }
        button {
            margin: 10px;
            margin-bottom: 20px;
        }
    </style> -->

<style>
    p {
        text-align: left;
    }
</style>

<body class="text-center">
    <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
              />
            </div>
    <div class="col-xl-6">
    <div class="card-body p-md-5 text-black">
    <h1>Signup</h1>
        <br>
    {% if messages %}
        {% for message in messages %}
            <h6 id="message">{{ message }}</h6>
        {% endfor %}
    {% endif %}
   <!-- <form method="POST">
        {% csrf_token %}
        <div>
            <label for="user_name">UserName:</label>
            <input name="user_name" type="text" id="user_name" maxlength="50" required>
        </div>
        <div>
            <label for="first_name">First Name:</label>
            <input name="first_name" type="text" id="first_name" maxlength="50" required>
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input name="last_name" type="text" id="last_name" maxlength="50" required>
        </div>
        <div>
            <label for="bio">Bio:</label>
            <textarea name="bio" id="bio" cols="20" rows="3" required></textarea>
        </div>
        <div>
            <label for="univ">University:</label>
            <input type="text" id="univ" name="univ" maxlength="50" required>
        </div>
        
        <div>
            <label for="date">Date of Birth:</label>
            <input type="date" id="date" name="date" required>
        </div>
    
        <div>
            <label>Profile:</label>
            <input type="radio" id="student" name="prof" value="student">
            <label for="student"> Student</label>
            <input type="radio" id="professional" name="prof" value="professional">
            <label for="professional"> Professional</label>
        </div>
        
        <div>
            <label for="user_email">Your Email:</label>
            <input type="email" id="user_email" name="user_email" required>
        </div>
        <div>
            <label for="user_password">Password:</label>
            <input type="password" id="user_password" name="user_password" maxlength="50" required>
        </div>
        <button type="submit">Submit</button>
    </form> -->

    <form method="POST">
        {% csrf_token %}

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.username.label}}
        {{form.username}}
        </p>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.email.label}}
        {{form.email}}
        </p>
                    </div>
                  </div>

        <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.first_name.label}}
        {{form.first_name}}
        </p>
                    </div>
                  </div>

            <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.last_name.label}}
        {{form.last_name}}
        </p>
            </div>
            </div>

        </div>

        <p>
            <label>Date of Birth </label>
        {{form.DOB}}
        </p>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
            {{form.Bio.label}}
            {{form.Bio}}
        </p>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.University.label}}
        {{form.University}}
        </p>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.Profession.label}}
        {{form.Profession}}
        </p>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.password1.label}}
        {{form.password1}}
        </p>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
        <p>
        {{form.password2.label}}
        {{form.password2}}
        </p>
                    </div>
                  </div>

        <button type="submit">Submit</button>

        <br> <br> Already have an account? <a href="{% url 'login_page' %}">Login</a>

    </form>

    <p>
    {{form.errors}}
    </p>

    </div>
    </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>

    
    {% endblock %}